@import url("https://fonts.googleapis.com/css2?family=Silkscreen&family=Work+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: "Silkscreen", cursive;
}

.body_container {
  width: 40%;
  height: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.start_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 30%;
  height: 15%;
  background-color: gray;
  text-decoration: none;
  color: black;
}
.game_description {
  text-align: center;
}

.reference {
  font-size: 10px;
  margin-top: 30px;
  font-family: "Courier New", Courier, monospace;
}

#gameBoard {
  width: 90vmin;
  height: 90vmin;
  background-color: black;
  padding: 10px;
  position: relative;
}

.character {
  width: 7vmin;
  height: 7vmin;
  position: absolute;
}

.block {
  width: 7vmin;
  height: 7vmin;
  position: absolute;
}

#modal {
  display: none;
  width: 90vmin;
  height: 90vmin;
  padding: 10px;
  position: relative;
  background-color: black;
}

.game_description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: "Silkscreen", cursive;
}

.replay_choice {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer;
}

.replay_choice a {
  color: white;
}

#time_lived {
  color: red;
}

.counter {
  color: red;
  position: absolute;
  right: 0;
  font-size: 20px;
  font-family: "Silkscreen", cursive;
}
